<!--The content below is only a placeholder and can be replaced.-->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData.event.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<div>-->
      <!--&lt;!&ndash;<pre>{{ modalData?.event | json }}</pre>&ndash;&gt;-->
      <!--<pre>Start day : {{modalData.event.start | date}}</pre>-->
      <!--<pre>Today : {{today | date}}</pre>-->
      <!--<pre>End day : {{modalData?.event.end | date}}</pre>-->
      <!--<pre>Description : {{modalData?.event.meta.description}}</pre>-->
    <!--</div>-->
    <!--<div>-->
      <!--&lt;!&ndash;<pre>{{ modalData?.event | json }}</pre>&ndash;&gt;-->
      <!--<pre>Start day : {{modalData.event.start | date}}</pre>-->
      <!--<pre>Today : {{today | date}}</pre>-->
      <!--<pre>End day : {{modalData?.event.end | date}}</pre>-->
      <!--<pre>Description : {{modalData?.event.meta.description}}</pre>-->
      <!--<pre>Result : {{modalData?.event.meta.result}}</pre>-->
      <!--<pre>Comments : {{modalData?.event.meta.comments}}</pre>-->
    <!--</div>-->
    <div>
      <pre>Début : {{modalData.event.start | date}}</pre>
      <pre>Aujourd'hui : {{today | date}}</pre>
      <pre>Fin : {{modalData?.event.end | date}}</pre>
      <pre>Description : {{modalData?.event.meta.description}}</pre>
      <select class="form-control">
        <option value="0" selected>OK</option>
        <option value="1">KO</option>
        <option value="2">Warning</option>
      </select>
      <br>
      <textarea class="form-control" placeholder="Comments"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale" >
  <div class="cal-cell-top">
    <span class="cal-day-badge bg-dark " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals" *ngIf="toShow(day.date)">
    <span class="badge badge-danger" *ngIf="(day.badgeTotal > 0)" >{{countErrors(day.events)}}</span>
    <span class="badge badge-success" *ngIf="day.badgeTotal > 0">{{ countSuccesses(day.events) }}</span>
    <span class="badge badge-warning" *ngIf="day.badgeTotal > 0">{{ countWarnings(day.events) }}</span>
  </div>
  <!--<div class="cell-totals">-->
    <!--<span-->
      <!--*ngFor="let group of day.eventGroups"-->
      <!--class="badge badge-{{ group[0] }}">-->
      <!--{{ group[1].length }}-->
    <!--</span>-->
  <!--</div>-->
</ng-template>

<div class="row text-center" style="margin-top: 10px;" >
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-dark"
        style="margin: 1px;"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
        [excludeDays]="excludeDays">
        Précédent
      </div>
      <div
        class="btn btn-dark"
        style="margin: 1px;"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Aujourd'hui
      </div>
      <div
        class="btn btn-dark"
        style="margin: 1px;"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
        [excludeDays]="excludeDays">
        Suivant
      </div>
      <ng-template #pop>
        <div style="display: flex; flex-direction: column; width: 10rem;">
          <div style="flex-direction: row;">
          <span class="badge badge-danger" style="width:20px;">0</span> Les erreurs
          </div>
          <div style="flex-direction: row;">
            <span class="badge badge-warning" >0</span> Les averissements
          </div>
          <div style="flex-direction: row;">
            <span class="badge badge-success" >0</span> Les succès
          </div>
        </div>
      </ng-template>
      <button type="button" style="margin: 1px;" class="btn btn-outline-secondary" placement="bottom"
              [ngbPopover]="pop">
        <b>?</b>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' :weekStartsOn:excludeDays}}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-dark"
        style="margin: 1px;"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Mois
      </div>
      <div
        class="btn btn-dark"
        style="margin: 1px;"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Semaine
      </div>
      <div
        class="btn btn-dark"
        style="margin: 1px;"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Jour
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day); "
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [cellTemplate]="customCellTemplate"
    [excludeDays]="excludeDays"
    (beforeViewRender)="updateCalendarEvents($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [excludeDays]="excludeDays"
    (beforeViewRender)="updateCalendarEvents($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (beforeViewRender)="updateCalendarEvents($event)">
  </mwl-calendar-day-view>
</div>
<br>
<div class="card " style="margin: 10px;">
  <h5 class="card-title" style="margin:10px;">Ajouter - Modifier - Supprimer une tâche</h5>
  <div class="card-body" style="display: flex; flex-direction: column">
    <div class="btn-group " style="display: flex; flex-direction: row; flex-wrap: wrap">
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(0)">Ajouter tâche récurrente</button>
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(1)">Ajouter tâche unitaire</button>
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(2)">Modifier/Supprimer tâche récurrente</button>
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(3)">Modifier/Supprimer tâche unitaire</button>
    </div>
    <div>
      <app-add-recurring-event *ngIf="reccurentEventForm"></app-add-recurring-event>
      <app-add-unitary-event *ngIf="unitaryEventForm"></app-add-unitary-event>
      <div class="card" style="margin-top:30px;" *ngIf="deleteUpdateRecurringEventTable">
        <div class="card-body">
          <h3 class="card-title">Les tâches récurrentes</h3>
          <table class="table table-bordered" style="margin-top: 20px;" >
            <thead>
            <tr>
              <th>Titre</th>
              <!--<th>Primary color</th>-->
              <!--<th>Secondary color</th>-->
              <th>Description</th>
              <th>Date/Heure</th>
              <th>Fréquence</th>
              <th>Jour</th>
              <th>Intervalle</th>
              <!--<th>Résultat</th>-->
              <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of recurringEvents; let index = index">
              <td>
                <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()">
              </td>
              <!--<td>-->
              <!--<input-->
              <!--type="color"-->
              <!--[(ngModel)]="event.color.primary"-->
              <!--(change)="refresh.next()">-->
              <!--</td>-->
              <!--<td>-->
              <!--<input-->
              <!--type="color"-->
              <!--[(ngModel)]="event.color.secondary"-->
              <!--(change)="refresh.next()">-->
              <!--</td>-->
              <td>
                <textarea
                class="form-control"
                [(ngModel)]="event.meta.description"
                (keyup)="refresh.next()">
                </textarea>
              </td>
              <td >
                <div style="display: flex; flex-direction: column; ">
                  <div style="display: flex; align-items: center; flex-flow: row; justify-content: flex-end;  margin-bottom: 2px;">
                    <h6 style= "flex-basis: 5rem; margin-right: 2px;" >Début</h6>
                    <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.rrule.all()[0]"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set">
                  </div>
                  <div style="display: flex; align-items: center; flex-flow: row; justify-content: flex-end; ">
                    <h6 style="flex-basis: 5rem;margin-right: 2px;" >Fin</h6>
                    <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.rrule.all()[event.rrule.all().length-1]"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set">
                  </div>
                </div>
              </td>
              <td style="width: 10rem;">
                <select class="form-control">
                  <option value="">Quotidienne</option>
                  <option value="">Hebdomadaire</option>
                  <option value="">Mensuelle</option>
                  <option value="">Annuelle</option>
                </select>
              </td>
              <td style="width: 8rem;">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="intrevalCheckBox" id="intrevalCheckBoxLundi" value="optionLundi" checked>
                    <label class="form-check-label" for="intrevalCheckBoxLundi">
                      Lundi
                    </label>
                  </div>
                  <div class="form-check ">
                    <input class="form-check-input" type="checkbox" name="intrevalCheckBox" id="intrevalCheckBoxMardi" value="optionMardi">
                    <label class="form-check-label" for="intrevalCheckBoxMardi">
                      Mardi
                    </label>
                  </div>
                  <div class="form-check ">
                    <input class="form-check-input" type="checkbox" name="intrevalCheckBox" id="intrevalCheckBoxMercredi" value="optionMercredi" >
                    <label class="form-check-label" for="intrevalCheckBoxMercredi">
                      Mercredi
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="intrevalCheckBox" id="intrevalCheckBoxJeudi" value="optionJeudi">
                    <label class="form-check-label" for="intrevalCheckBoxJeudi">
                      Jeudi
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="intrevalCheckBox" id="intrevalCheckBoxVendredi" value="optionVendredi">
                    <label class="form-check-label" for="intrevalCheckBoxVendredi">
                      Vendredi
                    </label>
                  </div>
                </div>
              </td>
              <td style="width: 5rem;">
                <input class="form-control" type="number" value="1" id="example-number-input">
              </td>
              <!--<td>-->
              <!--<select class="form-control">-->
              <!--<option value="0">OK</option>-->
              <!--<option value="1">KO</option>-->
              <!--<option value="2">Warning</option>-->
              <!--</select>-->
              <!--</td>-->
              <td style="width: 6rem;">
                <!--appliquer la modification avant le refresh.next()-->
                <div style=" display: flex; flex-flow: column;">
                  <button
                  style="margin-bottom: 2px;"
                  class="btn btn-primary"
                  (click)=" refresh.next()">
                    Modifier
                  </button>
                  <button
                  class="btn btn-danger"
                  (click)="recurringEvents.splice(index, 1); refresh.next()">
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card" style="margin-top:30px;" *ngIf="deleteUpdateUnitaryEventTable">
        <div class="card-body">
          <h3 class="card-title">Les tâches unitaires</h3>
          <table class="table table-bordered" style="margin-top: 20px;" >
            <thead>
            <tr>
              <th>Titre</th>
              <!--<th>Primary color</th>-->
              <!--<th>Secondary color</th>-->
              <th>Description</th>
              <th>Date/Heure</th>
              <!--<th>Résultat</th>-->
              <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of unitaryEvents; let index = index">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()">
              </td>
              <!--<td>-->
              <!--<input-->
              <!--type="color"-->
              <!--[(ngModel)]="event.color.primary"-->
              <!--(change)="refresh.next()">-->
              <!--</td>-->
              <!--<td>-->
              <!--<input-->
              <!--type="color"-->
              <!--[(ngModel)]="event.color.secondary"-->
              <!--(change)="refresh.next()">-->
              <!--</td>-->
              <td>
                <textarea
                  class="form-control"
                  [(ngModel)]="event.meta.description"
                  (keyup)="refresh.next()">
                </textarea>
              </td>
              <td style="display: flex; flex-direction: column; justify-content: space-between;">
                <div style="display: flex; align-items: center; flex-flow: row; justify-content: flex-end; margin-bottom: 2px;">
                  <h6 style= "flex-basis: 5rem; margin-right: 5px;" >Début</h6>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set">
                </div>
                <div style="display: flex; align-items: center; flex-flow: row">
                  <h6 style="flex-basis: 5rem;margin-right: 5px;" >Fin</h6>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i"
                    placeholder="Not set">
                </div>
              </td>
              <!--<td>-->
                <!--<select class="form-control">-->
                  <!--<option value="0">OK</option>-->
                  <!--<option value="1">KO</option>-->
                  <!--<option value="2">Warning</option>-->
                <!--</select>-->
              <!--</td>-->
              <td >
                <div style=" display: flex; flex-flow: column;">
                  <button
                    style="margin-bottom: 2px;"
                    class="btn btn-primary"
                    (click)=" refresh.next()">
                    Modifier
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="unitaryEvents.splice(index, 1); refresh.next()">
                    Supprimer
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


