<!--The content below is only a placeholder and can be replaced.-->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData.event.title }}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<div>-->
      <!--&lt;!&ndash;<pre>{{ modalData?.event | json }}</pre>&ndash;&gt;-->
      <!--<pre>Start day : {{modalData.event.start | date}}</pre>-->
      <!--<pre>Today : {{today | date}}</pre>-->
      <!--<pre>End day : {{modalData?.event.end | date}}</pre>-->
      <!--<pre>Description : {{modalData?.event.meta.description}}</pre>-->
    <!--</div>-->
    <!--<div>-->
      <!--&lt;!&ndash;<pre>{{ modalData?.event | json }}</pre>&ndash;&gt;-->
      <!--<pre>Start day : {{modalData.event.start | date}}</pre>-->
      <!--<pre>Today : {{today | date}}</pre>-->
      <!--<pre>End day : {{modalData?.event.end | date}}</pre>-->
      <!--<pre>Description : {{modalData?.event.meta.description}}</pre>-->
      <!--<pre>Result : {{modalData?.event.meta.result}}</pre>-->
      <!--<pre>Comments : {{modalData?.event.meta.comments}}</pre>-->
    <!--</div>-->
    <div>
      <pre>Début : {{modalData.event.start | date}}</pre>
      <pre>Aujourd'hui : {{today | date}}</pre>
      <pre>Fin : {{modalData?.event.end | date}}</pre>
      <pre>Description : {{modalData?.event.meta.description}}</pre>
      <select class="form-control">
        <option value="0" selected>OK</option>
        <option value="1">KO</option>
        <option value="2">Warning</option>
      </select>
      <br>
      <textarea class="form-control" placeholder="Comments"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge bg-dark " *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals" *ngIf="toShow(day.date)">
    <span class="badge badge-danger" *ngIf="(day.badgeTotal > 0)" >{{countErrors(day.events)}}</span>
    <span class="badge badge-success" *ngIf="day.badgeTotal > 0">{{ countSuccesses(day.events) }}</span>
    <span class="badge badge-warning" *ngIf="day.badgeTotal > 0">{{ countWarnings(day.events) }}</span>
  </div>
  <!--<div class="cell-totals">-->
    <!--<span-->
      <!--*ngFor="let group of day.eventGroups"-->
      <!--class="badge badge-{{ group[0] }}">-->
      <!--{{ group[1].length }}-->
    <!--</span>-->
  <!--</div>-->
</ng-template>

<div class="row text-center" style="margin-top: 10px;" >
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-dark"
        style="margin-left: 10px;"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
        [excludeDays]="excludeDays">
        Précédent
      </div>
      <div
        class="btn btn-outline-secondary text-dark"
        style="margin-left: 10px;"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Aujourd'hui
      </div>
      <div
        class="btn btn-dark"
        style="margin-left: 10px;"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false"
        [excludeDays]="excludeDays">
        Suivant
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' :weekStartsOn:excludeDays}}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-dark"
        style="margin-left: 10px;"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Mois
      </div>
      <div
        class="btn btn-dark"
        style="margin-left: 10px;"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Semaine
      </div>
      <div
        class="btn btn-dark"
        style="margin-left: 10px;"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Jour
      </div>
    </div>
  </div>
</div>
<br>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [cellTemplate]="customCellTemplate"
    [excludeDays]="excludeDays"
    (beforeViewRender)="updateCalendarEvents($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [excludeDays]="excludeDays"
    (beforeViewRender)="updateCalendarEvents($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (beforeViewRender)="updateCalendarEvents($event)">
  </mwl-calendar-day-view>
</div>
<br>
<div class="card " style="margin-left:10px;margin-bottom: 10px;">
  <h5 class="card-title" style="margin: 5px">Ajouter - Modifier/Supprimer</h5>
  <div class="card-body" style="display: flex; flex-direction: column">
    <div class="btn-group " style="display: flex; flex-direction: row; flex-wrap: wrap">
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(0)">Ajouter tâche récurrente</button>
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(1)">Ajouter tâche unitaire</button>
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(2)">Modifier/Supprimer tâche récurrente</button>
      <button class="btn btn-outline-dark" style="margin: 5px" (click)="toggleForms(3)">Modifier/Supprimer tâche unitaire</button>
    </div>
    <div>
      <app-add-recurring-event *ngIf="reccurentEventForm"></app-add-recurring-event>
      <app-add-unitary-event *ngIf="unitaryEventForm"></app-add-unitary-event>
      <div class="card" style="margin-top:30px;" *ngIf="deleteUpdateRecurringEventTable">
        <div class="card-body">
          <h3 class="card-title">Les tâches récurrentes</h3>
          <table class="table table-bordered " style="margin-top: 20px;" >
            <thead>
            <tr>
              <th>Title</th>
              <th>Primary color</th>
              <th>Secondary color</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events; let index = index">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()">
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.primary"
                  (change)="refresh.next()">
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.secondary"
                  (change)="refresh.next()">
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set">
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.end"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set">
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  (click)="events.splice(index, 1); refresh.next()">
                  Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card" style="margin-top:30px;" *ngIf="deleteUpdateUnitaryEventTable">
        <div class="card-body">
          <h3 class="card-title">Les tâches unitaires</h3>
          <table class="table table-bordered" style="margin-top: 20px;" >
            <thead>
            <tr>
              <th>Titre</th>
              <!--<th>Primary color</th>-->
              <!--<th>Secondary color</th>-->
              <th>Début</th>
              <th>Fin</th>
              <th>Description</th>
              <!--<th>Résultat</th>-->
              <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of unitaryEvents; let index = index">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()">
              </td>
              <!--<td>-->
              <!--<input-->
              <!--type="color"-->
              <!--[(ngModel)]="event.color.primary"-->
              <!--(change)="refresh.next()">-->
              <!--</td>-->
              <!--<td>-->
              <!--<input-->
              <!--type="color"-->
              <!--[(ngModel)]="event.color.secondary"-->
              <!--(change)="refresh.next()">-->
              <!--</td>-->
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set">
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.end"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set">
              </td>
              <td>
                <textarea
                 class="form-control"
                 [(ngModel)]="event.meta.description"
                 (keyup)="refresh.next()">
                </textarea>
              </td>
              <!--<td>-->
                <!--<select class="form-control">-->
                  <!--<option value="0">OK</option>-->
                  <!--<option value="1">KO</option>-->
                  <!--<option value="2">Warning</option>-->
                <!--</select>-->
              <!--</td>-->
              <td>
                <button
                  class="btn btn-danger"
                  (click)="events.splice(index, 1); refresh.next()">
                  Supprimer
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


